.meda-home-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 160px;
  margin-right: 515px;
  padding-bottom: 100px;
}
.meda-home-container {
  width: 100%;
}
.meda-home__inner {
  display: flex;

  width: 100%;
}

.meda-covid-info {
  display: flex;
  justify-content: space-around;
  width: 52%;
  margin-top: 30px;
  position: relative;
}
.meda-covid-image {
  position: absolute;
  right: 20px;
}
.meda-covid-info-text {
  background-color: #41ab8e;
  margin-top: 30px;
  border-radius: 10px;
  height: 150px;
  width: 100%;
  padding: 20px 15px 0px 20px;
}

@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .meda-home-section {
    margin-left: 100px;
    margin-right: 32%;
  }
  .meda-covid-info {
    width: 100%;
  }
  .meda-covid-info-text {
    height: 300px;
  }
  .meda-covid-info img {
    width: 84%;
  }
  .meda-covid-image {
    top: 150px;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
}
