.header {
  width: 100%;
  background: linear-gradient(90deg, #eef1f7 68%, #fff 32%);
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  z-index: 100;
  transition: top 0.3s;
}
.brand-image {
}
.hide {
  top: -72px;
}

.header__inner {
  display: flex;
  flex-direction: row;
  padding: 0px 0;
  justify-content: space-between;
}

.header__inner-logo {
  width: 155px;
  height: 100%;
  margin: auto 0;
  animation: blink normal 2s infinite ease-in-out;
}

.header__inner img {
  margin: 0 auto;
}

.brand-image {
  height: 100%;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto 0;
}
.gabor-header-nav-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.header__navigation-link {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #050505;
  transition: 0.25s linear;
  cursor: pointer;
}

.header__navigation-link:hover {
  color: #050505;
  transition: 0.2s linear;
  text-decoration: none;
}

.header__inner-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.header__inner-contact a {
  display: flex;
  color: #fff;
  text-decoration: none;
}

.header__inner-contact span {
  color: rgba(30, 132, 242, 0.9);
}

.header__inner-toggle {
  display: none;
}

.header-info {
  display: flex;
  justify-content: space-between;
  width: 23%;
}

.header__inner-language {
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
  margin: auto 10px auto 0;
}

.header__inner-language select {
  color: #fff;
}

.header__inner-language option {
  color: #000;
}
.header__inner-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

@media all and (max-width: 900px) {
  .header-navigation {
    display: none !important;
  }

  .header-info {
    display: none;
  }

  .header__inner-toggle {
    display: flex;
    margin: auto 0;
  }
}
