.gabor-tab-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.gabor-tab-menu-item {
  padding-right: 10px;
  padding-left: 10px;
}
.gabor-tab-menu-container :first-child {
  padding-left: 0px;
}
