.meda-tab-list-item {
  background: white;
  border: 1px solid #e5eeeb;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 11px !important;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.meda-tab-list-active {
  background: #e8f5f1 !important;
  color: #028f68;
  border: none;
}
.meda-side-bar {
  background: #ffffff;
  border: none;
  width: 130px;
  height: 40px;
  color: #555555;

  cursor: pointer;
}
.meda-side-bar.meda-active {
  background: #e8f5f1 !important;
  color: #028f68 !important;
  border: none;
  border-bottom: 2px solid #028f68 !important;
}
