.meda-settings-right-side-container {
  width: 27%;
  height: 100vh;
  position: fixed;
  right: 0;
}
.meda-settings-avatar-info {
  display: flex;
  padding: 20px 20px 0px 20px;
}
.meda-settings-avatar-info img {
  margin-right: 30px;
}
.meda-settings-password-info {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.meda-settings-contact-container {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.meda-settings-contact-title {
  display: flex;
  justify-content: space-between;
  width: 67%;
}
.meda-settings-contact-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
}
.meda-settings-save-btn-container {
  width: 27%;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .meda-settings-save-btn-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .meda-settings-save-btn-container {
    width: 40%;
  }
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .meda-settings-save-btn-container {
    width: 50%;
  }
}
@media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .meda-settings-save-btn-container {
    width: 55%;
  }
}
