.gabor-review-section {
  background: #1d1d1d;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gabor-review-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.gabor-review-text-container :last-child {
  margin-left: 12px;
}
