.gabor-footer-menu-container {
  display: flex;

  background: #050505;
  padding-top: 52px;
  padding-bottom: 52px;
}
.gabor-footer-description {
  font-size: 12px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 33px;
}
.gabor-footer-main-menu-item {
  width: 14%;
}
.gabor-footer-menu-item-container {
  display: flex;
  justify-content: space-between;
}
.gabor-footer-menu-items-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .gabor-footer-menu-item-container {
    flex-direction: column;
  }
  .gabor-footer-main-menu-item {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .gabor-footer-menu-items-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
