.meda-body {
  display: flex;
  background: white;

  color: #333333;
}
.meda-body * {
  font-size: 14px;
  box-sizing: border-box;
}
.meda-body a {
  text-decoration: none;
}
.meda-container {
  width: 96%;
  margin: 0 auto;
}
