.gabor-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
  width: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.gabor-toggle-button:focus {
  outline: none;
}

.gabor-toggle-button__line {
  width: 45px;
  height: 4px;
  background: #e1202c;
  z-index: 250;
  transition: all 0.5s;
  border-radius: 5px;
}

.gabor-toggle-button__line.gabor-open:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 15px);
  background: #e1202c;

  height: 3px;
}

.gabor-toggle-button__line.gabor-open:nth-child(2) {
  opacity: 0;
}

.gabor-toggle-button__line.gabor-open:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -16px);
  background: #e1202c;
  height: 3px;
}
