.gabor-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.gabor-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.gabor-modal {
  z-index: 100;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  max-width: 750px;
  padding: 2rem;
}

.gabor-modal-header {
  display: flex;
  justify-content: space-between;
}

.gabor-modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}
.gabor-modal-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}
.gabor-custom-modal-input-discount {
  height: 42px;
  width: 146px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 16px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.gabor-custom-modal-input-discount:focus {
  outline: none;
}
.gabor-custom-modal-discount-btn {
  background: #050505;
  border-radius: 4px;
  height: 42px;
  width: 64px;
  color: #ffffff;
  border: 1px solid #e5e5e5;
}
.gabor-bag-modal-checkout-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.gabor-bag-modal-checkout-cards {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}
.gabor-bag-modal-checkout-button-container {
  width: 30%;
}
.gabor-bag-modal-checkout-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.gabor-bag-modal-checkout-text-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gabor-bag-modal-checkout-title {
  font-weight: 500;
  font-size: 15px;
  color: rgba(5, 5, 5, 0.5);
}
.gabor-bag-modal-checkout-text.underline {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
