.gabor-visit-section {
  background: #171717;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gabor-visit-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.gabor-visit-text-container img {
  margin-right: 20px;
}
.gabor-visit-text-container :last-child {
  margin-right: 0px;
}
