.gabor-filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9%;
}
.gabor-filter-container {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 16px;
  padding: 16px 0px;
}
.gabor-filter-items {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.gabor-filter-items-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.gabor-filter-sort-container {
  display: flex;
  align-items: center;
  width: 14%;
  justify-content: space-between;
}
.gabor-filter-sort-title {
  display: flex;
  justify-content: space-between;

  width: 35%;
}
.gabor-filter-sort-text {
  font-weight: 700;
  font-size: 15px;
}
.gabor-filter-result-item {
  display: flex;

  padding: 9px 10px;
  background: #eeeeee;
  border-radius: 4px;
  margin-right: 10px;
}
.gabor-filter-result-item-container {
  display: flex;

  width: 70%;
}
.gabor-filter-result-item-section {
  display: flex;
  justify-content: space-between;
}
.gabor-filter-result-item img {
  cursor: pointer;
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .gabor-filter-items-container {
    width: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .gabor-filter-sort-container {
    width: 17%;
  }
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .gabor-filter-items-container {
    width: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .gabor-filter-sort-container {
    width: 17%;
    flex-direction: column;
  }
}
@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .gabor-filter-items-container {
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .gabor-filter-sort-container {
    width: 17%;
    flex-direction: column;
  }
  .gabor-filter-title {
    width: 13%;
  }
}
