.gabor-sign-up-section {
  background: #e1202c;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gabor-sign-up-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.gabor-sign-up-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82%;
}
