.gabor-dropdown {
  position: relative;
  color: #333;
  cursor: default;
  border: none;
}
.gabor-dropdown {
  border: none;
}
.gabor-dropdown-container {
  border: none;
}
.gabor-control {
  display: flex;
  width: 100px;
}
.gabor-dropdown .gabor-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0px;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.gabor-dropdown .gabor-arrow.gabor-open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.gabor-dropdown .gabor-selected-value {
  display: flex;
}
.gabor-dropdown .gabor-selected-value input::placeholder {
  color: #050505;
}
.gabor-dropdown .gabor-selected-value input {
  overflow: hidden;
  background-color: #fff;
  font-weight: 600;
  font-size: 15px;

  border: none;
  border-radius: 2px;

  cursor: default;
  outline: none;
  padding: 8px 0px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.gabor-dropdown .gabor-options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.gabor-dropdown .gabor-options.gabor-open {
  display: block;
  width: max-content;
}

.gabor-dropdown .gabor-option {
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;

  padding: 8px 10px;
}

.gabor-dropdown .gabor-option.gabor-selected,
.gabor-dropdown .gabor-option:hover {
  background-color: #f2f9fc;
  color: #333;
}
.gabor-option-select-container {
  display: flex;

  width: 100%;
}
.gabor-color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 13px;
  margin-top: 18px;

  border: 1px solid #e7e7e7;
}
.gabor-option-select-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.gabor-option-select-checkbox + label {
  display: flex;
  align-items: center;
  width: max-content;
}
.gabor-option-select-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;

  border: 1px solid #050505;
  border-radius: 4px;
  margin-right: 10px;
}
.gabor-option-select-checkbox:checked + label::before {
  border-color: #050505;
  background-color: #fff;

  background-position: center;

  background-image: url("../../../assets/Check.svg");
  background-repeat: no-repeat;
}
.gabor-color-container {
  display: flex;
  padding: 0px 0px 11px 0px;
  margin-top: -7px;
  flex-wrap: wrap;
  width: 316px;
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .gabor-dropdown-container {
    margin-left: 5px;
  }
}
