.gabor-product-cards-slider-container {
  position: relative;
  opacity: 0;
  height: 500px;
}
.gabor-product-cards-slider-container.slideActive {
  opacity: 1;
  position: relative;
  animation: opacity 0.5s ease-out;
}

@keyframes opacity {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
