.ron-header__inner {
  display: flex;
  padding: 25px 0px;
  width: 100%;
}
.ron-header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.ron-header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.ron-header {
  width: 100%;
}
.ron-header__navigation-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #237e8a;
  transition: 0.25s linear;
  cursor: pointer;
  padding-left: 32px;
}
.ron-header__navigation-link:first-child {
  padding-left: 0px;
}
.ron-header-button {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.ron-header__navigation-link:hover {
  color: #f65459;
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .ron-header__inner-logo {
    width: 90%;
  }
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .ron-header__inner-logo {
    width: 80%;
  }
  .ron-header-button {
    width: 33%;
  }
  .ron-header-navigation {
    width: 60%;
  }
}
@media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .ron-header__inner-logo {
    width: 80%;
  }
  .ron-header-button {
    width: 35%;
  }
  .ron-header-navigation {
    width: 70%;
  }
}
@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .ron-header__inner-logo {
    width: 70%;
  }
  .ron-header-button {
    width: 38%;
  }
  .ron-header-navigation {
    width: 100%;
  }
  .ron-header__navigation-link {
    padding-left: 15px;
  }
  .ron-brand-image {
    width: 40%;
  }
}
