.gabor-slider-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}
.gabor-slider-image {
  position: absolute;
  top: 8%;
  left: 50%;
}
.gabor-slider-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 30px;
}
.gabor-slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 15%;
  padding-bottom: 30px;
}
.gabor-slider-counter-text {
  font-weight: 500;
  font-size: 24px;
}
.gabor-slider-subtitle-text {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(5, 5, 5, 0.5);
}
.gabor-slider-title-text {
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
  margin-bottom: 32px;
  margin-top: 12px;
}
.gabor-slider-information-text {
  margin-bottom: 145px;
  width: 100%;
}
.gabor-main-slider-image {
  opacity: 0;
  position: absolute;
}
.gabor-main-slider-image.slideActive {
  opacity: 1;
  position: absolute;
  animation: opacity 0.5s ease-out;
}
@keyframes opacity {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .gabor-main-slider-image {
    width: 560px;
  }
  .gabor-slider-image {
    top: 12%;
  }
}
@media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .gabor-main-slider-image {
    width: 500px;
  }
  .gabor-slider-image {
    top: 17%;
  }
}
@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .gabor-slider-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    width: 100%;
    height: 100%;
  }
  .gabor-main-slider-image {
    width: 500px;
  }
  .gabor-slider-image {
    position: absolute;
    top: 8%;
    left: 22%;
  }
}
