.meda-patients-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 160px;
  margin-right: 27%;
}
.meda-patients__inner {
  display: flex;

  width: 100%;
}
.meda-patients-container {
  width: 100%;
}
.meda-summary-info {
  width: 48%;
}
.meda-summary-info-container {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .meda-patients-section {
    margin-left: 100px;
    margin-right: 32%;
  }
  .meda-summary-info-container {
    flex-direction: column;
  }
  .meda-summary-info {
    width: 100%;
  }
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .meda-patients-section {
    margin-left: 100px;
    margin-right: 30%;
  }
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .meda-patients-section {
    margin-left: 90px;
  }
  .meda-patients-container {
    width: 97%;
  }
}
@media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .meda-patients-section {
    margin-left: 100px;
    margin-right: 30%;
  }
  .meda-summary-info-container {
    flex-direction: column;
  }
  .meda-summary-info {
    width: 100%;
  }
  .meda-patients-container {
    width: 100%;
  }
}
