.meda-home-side-bar-profile-container {
  height: 420px;
  overflow-y: auto;
}
.meda-home-side-bar-profile-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.meda-home-side-bar-profile-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .meda-home-side-bar-profile-container {
    height: 320px;
  }
}
