.gabor-slider-section {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(90deg, #eef1f7 68%, #fff 32%);
  height: 750px;
}
.gabor-welcome-section {
  background-color: #eef1f7;

  padding-bottom: 72px;
}
@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .gabor-slider-section {
    height: 1220px;
  }
}
