.meda-right-side-container {
  width: 27%;
  display: block;
  background-color: #fafbfc;
  padding: 35px 60px;
  height: 100vh;
  position: fixed;
  right: 0;
}
.meda-right-side__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meda-right-side-menu {
  display: flex;
  margin-top: 35px;
  margin-bottom: 30px;
}

@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .meda-right-side-container {
    padding: 35px 16px;
    width: 32%;
  }
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .meda-right-side-container {
    padding: 35px 45px;
    width: 30%;
  }
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .meda-right-side-container {
    padding: 35px 25px;
  }
}
