.meda-right-side-container {
  width: 27%;
  display: block;
  background-color: #fafbfc;
  padding: 35px 60px;
  height: 100vh;
  position: fixed;
  right: 0;
}
.meda-right-side__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meda-right-side-menu {
  display: flex;
  margin-top: 35px;
  margin-bottom: 30px;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .meda-right-side-container {
    padding: 35px 16px;
    width: 32%;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
}
