@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
.ron-body {
  background: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: #212529;
}
.ron-body * {
  box-sizing: border-box;
}
.ron-body a {
  text-decoration: none;
}
.ron-container {
  width: 58.48%;
  margin: 0 auto;
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
  .ron-container {
    width: 80%;
  }
}
@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .ron-container {
    width: 90%;
  }
}
