.gabor-rights-section {
  background: #050505;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gabor-rights-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}
