.meda-user-info-header-container {
  display: flex;
  align-items: center;
}
.meda-user-info-header-text {
  margin-left: 30px;
}
.meda-user-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.meda-user-header-description-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 53%;
}

@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .meda-user-header-container {
    flex-direction: column;
  }
  .meda-user-header-description-container {
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
  }
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
}
