.ron-footer-container {
  display: flex;
  height: 290px;
  width: 80%;
}
.ron-footer-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 48px 0px;
}
.ron-footer-content-item-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ron-footer-content-item * {
  margin-bottom: 20px;
}
.ron-footer-menu-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.ron-footer-menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #404853;
}

@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .ron-footer-content {
    width: 80%;
  }
}
@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .ron-footer-content {
    width: 100%;
  }
}
