.meda-chart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meda-chart-container {
  background-color: #fafbfc;
  padding: 20px 30px 30px 30px;
  margin-top: 20px;
}
.meda-chart-view-info-bottom {
  display: flex;
}
.meda-chart-view-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  width: 30%;
}
.meda-chart-view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meda-chart-view-info-line {
  height: 50px;
  border: 0.5px solid #e5eeeb;
  margin-left: 20px;
  margin-right: 20px;
}
.meda-chart-btn-container {
  display: flex;
  justify-content: space-between;

  width: 24%;
}
