.meda-home-side-bar-profile-image {
  position: absolute;
  bottom: 0;
}
.meda-activities-list {
  width: 90%;
  overflow-y: auto;
  height: 230px;
  margin-bottom: 40px;
}
.meda-activities-side-bar-profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meda-activities-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.meda-activities-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media all and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
  .meda-home-side-bar-profile-image {
    width: 90%;
  }
}
@media all and (max-width: 1368px) and (max-height: 912px) and (orientation: landscape) {
}
@media all and (max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
  .meda-home-side-bar-profile-image {
    width: 80%;
  }
}
