.gabor-footer-menu-item {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.gabor-footer-menu-text-item {
  font-weight: 500;
  font-size: 13px;
  line-height: 200%;
}
.gabor-footer-menu-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 16px;
}
